---
import Layout from '../layouts/Layout.astro';
import VideoFeed from '../components/VideoFeed';
---

<Layout title="ChumbaVision - Home">
	<div class="h-screen">
		<VideoFeed client:load />
	</div>
</Layout>
